*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
#app {
  background-color: #131313;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
//font-family: 'Avenir Next Cyr',
body {
  font-family: "Avenir Next Cyr", "Roboto", sans-serif;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  padding: 0px;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  padding: 0px 15px;
}
