@font-face {
  font-family: 'Avenir Next Cyr';
  src:
    local('Avenir Next Cyr Regular'),
    local('Avenir Next Cyr'),
    url('./base/fonts/AvenirNextCyr/AvenirNextCyr-Light.eot') format('eot'),
    url('./base/fonts/AvenirNextCyr/AvenirNextCyr-Light.woff') format('woff'),
    url('./base/fonts//AvenirNextCyr/AvenirNextCyr-Light.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
